<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 'AndroidManifest.xml'文件中'android:allowBackup'属性错误的设置为'true',导致客户端应用数据可以被备份导出。-->
    <!-- Android10以上通过usesCleartextTraffic设置允许非加密的HTTP请求，不安全 -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VulnerableApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".vulnerabilities.webview.WebviewActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="forgo7ten.github.io"
                    android:pathPrefix="/webview_vulnerability"
                    android:scheme="fvulnerable" />
            </intent-filter>
        </activity>
        <!-- 复现【Provider文件目录遍历】漏洞的Provider，为了方便设置了导出 -->
        <provider
            android:name=".vulnerabilities.provider_directory_traversal.DirectoryTraversalProvider"
            android:authorities="com.forgo7ten.vulnerableapp.DirectoryTraversalProvider"
            android:enabled="true"
            android:exported="true" />
        <!-- 添加了【ContentProvider URI授权不当 】漏洞的利用条件，grantUriPermissions设置为true -->
        <provider
            android:name=".vulnerabilities.improperuriauthorization.ImproperProvider"
            android:authorities="com.forgo7ten.vulnerableapp.IMPROPERPROVIDER"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!-- 该Activity用于不经校验的转发intent-->
        <activity
            android:name=".vulnerabilities.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.forgo7ten.vulnerableapp.STARTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 不存在的Activity：Manifest中定义组件未实现 漏洞复现 -->
        <activity
            android:name=".vulnerabilities.NonexistentActivity"
            android:exported="true" />
        <activity
            android:name=".vulnerabilities.VulnerabilityShowActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vulnerabilities.denialservice.DenialServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.forgo7ten.vulnerabilities.DENIALSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>