<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    'AndroidManifest.xml'文件中'android:allowBackup'属性错误的设置为'true',导致客户端应用数据可以被备份导出。-->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VulnerableApp"
        tools:targetApi="31">
        <provider
            android:name=".vulnerabilities.improperuriauthorization.ImproperProvider"
            android:authorities="com.forgo7ten.vulnerableapp.IMPROPERPROVIDER"
            android:enabled="true"
            android:exported="false"></provider>
        <activity
            android:name=".vulnerabilities.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.forgo7ten.vulnerableapp.STARTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activityO>
        <!-- 不存在的Activity：Manifest中定义组件未实现 漏洞复现 -->
        <activity
            android:name=".vulnerabilities.NonexistentActivity"
            android:exported="true" />
        <activity
            android:name=".vulnerabilities.VulnerabilityShowActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vulnerabilities.denialservice.DenialServiceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.forgo7ten.vulnerabilities.DENIALSERVICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>